VITE_PUBLIC_SUPABASE_URL=https://bigiptcomrxwjlzyzgnu.supabase.co
VITE_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJpZ2lwdGNvbXJ4d2psenl6Z251Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTMzNTg2MjcsImV4cCI6MjA2ODkzNDYyN30.vlt_aENXyTGnR0reQMzELQKSi8Aj5snxUbsk2TtXrVY
